{% extends 'base.html.twig' %}
{% block body %}

    {% import 'ticker/ticker.html.twig' as macro %}

    <nav class="navbar navbar-light bg-light">

        <div class="row">
            <div class="col-9">
                <select class="form-control js-select-project">
                    {% for project in projects %}
                        <option value="{{ project.id }}" {{ app.request.get('project') == project.id ? 'selected' : '' }}>{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 btn-block">
                <a href="#" class="btn form-control" id="js-btn-stop">Stop</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <input class="form-control" placeholder="Search" id="js-input-search"/>
            </div>
        </div>
    </nav>

    <div class="row loading hide">
        <div class="col-12 progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>

    <br>
    <div class="card-templates">
        {{ macro.render({current: false, id: null, lastTickAt: null, rmId: null, name: null}, true) }}
    </div>

    <div class="card-columns cards">

        {% for ticker in tickers %}

            {{ macro.render(ticker) }}

            {% if loop.first %}
                {{ macro.renderNew() }}
            {% endif %}

        {% endfor %}

        {% if tickers|length == 0 %}
            {{ macro.renderNew() }}
        {% endif %}

    </div>

{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            init({
                urlStopTicker: '{{ path("api.ticker.stop") }}',
                urlStartTicker: '{{ path("api.ticker.tick", {id: 'ticker_id'}) }}',
                urlCreateTicker: '{{ path("api.ticker.create", {id: project.id}) }}',
            });
        });
    </script>
{% endblock %}