<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ticker{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'alert.html.twig' %}
{% block body %}{% endblock %}
</body>

<script defer src="{{ asset('assets/js/class.js') }}"></script>
<script defer src="{{ asset('assets/js/alert.js') }}"></script>
<script defer src="{{ asset('assets/js/main.js') }}"></script>
{% block javascript %}{% endblock %}
</html>